Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'Delete', job_path(@job), method: 'delete' %>

<%= render partial: "comment_form" %>

<h3> Comments </h3>
<% @comments.each do |comment| %>
  <%= comment.content %><br>
  created at: <%= comment.created_at %><br>
  updated at: <%= comment.updated_at %><hr>
<% end %>
