All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, job_path(job) %> at <%= job.company.name %></ul>
<% end %>

<ul><%= link_to "New Job", new_company_job_path(@company) %></ul>

<h3>New Contact</h3>
<%= render partial: "contact_form" %>

<h3>Contacts</h3>
<% @contacts.each do |contact| %>
    <%= contact.first_name %><br>
    <%= contact.last_name %><br>
    <%= contact.position %><br>
    <%= contact.email %><br><hr>
<% end %>
